# Virtual Environment
venv/**
.venv/**

# Compiled Python files
**/__pycache__/**

# Logs and local development files
*.log
*.log.*
logs/debug/**
logs/error/**
logs/info/**
logs/warning/**
*.test.*

# ignore this dicrectory
.vscode/**
temp/**
test/**

# ignore this files
*.db
.env

# ignore the repository
.github/**
.gitignore